.search-secteur, .search-secteur-mini{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    left: 0px;
    top: 52px;
    padding: 15px;
    width: 320px;
    background-color: white;
    z-index: 3;
}

.search-secteur-item{
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.seach-input{
    cursor: pointer;
}

.search-metier, .search-metier-mini{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    left: 0px;
    top: 52px;
    padding: 15px;
    width: 320px;
    background-color: white;
    z-index: 3;
}