.search-secteur{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    left: 0px;
    top: 52px;
    padding: 15px;
    width: 320px;
    background-color: white;
    z-index: 3;
}

.search-secteur-item{
    cursor: pointer;
}

.seach-input{
    cursor: pointer;
}